<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for nota in notas %}

        {% if nota < 6 %}

            <p style="color: red;">Tu nota es: {{ nota }}</p>

        {% else %}

            <p style="color: green;">Tu nota es: {{ nota }}</p>

        {% endif %}

    {% endfor %}
    
    <p>HOLA {{ name }} {{ surname }}, Esta Es Mi Primer Plantilla!</p>

</body>
</html>