{% extends "AppCoder/base.html" %}
{% load static %}

{% block section1 %}
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'AppCoder/assets/img/02.jpg' %}" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Estudiantes</h2>
                    <p>Aqui los estudiantes van a poder tener el seguimiento de su cursada.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}